.CustomerMain .w3-teal {
    background-color: rgb(20, 50, 84)!important ;
}

.first {
    display:none;
 }

 p.start {
    font-size: 20px;
    text-align: justify;
    display: inline;
}

h1.start {
    font-size: 30px;
    margin: 0;
    display: inline-block;
}

