.GetAllCompanies {
    margin: 0;
    box-sizing: border-box;
}

.GetAllCompanies > .CompaniesStyle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.GetAllCompanies .MainHeader {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.GetAllCompanies .BigTitle {
    text-align: center;
}