.UpdateCompany  input[type=text], input[type=email], input[type=password],input[type=date], input[type=list], input[type=file], option, select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
.UpdateCompany input[type=file] {
    background-color: #fafafa;
    border: 1px solid #ccc;
}

.UpdateCompany .Group {
    margin-top: 22px;
}

.UpdateCompany .A, .UpdateCompany .B  {
    background-color: #205c6b8a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.UpdateCompany .A {
    margin-right: 12px;
}

.UpdateCompany .B {
    margin-left: 12px;
}

.UpdateCompany button:hover, .UpdateCompany .Reset:hover {
    background-color: #346d7c;
}
  
.UpdateCompany {
    border-radius: 5px;
    background-color: #9ddeee6f;
    padding: 20px;
    margin: 55px;
}