.PurchaseCard *, * {
    margin: 0;
    box-sizing: border-box;
}

.Card .Container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.287);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.PurchaseCard .Container {
    float: left;
    width:  100%;
    max-height: 700px;
    margin-bottom: 20px;
    object-fit: cover;
}

.CouponImg {
    float: left;
    width:  280px;
    height: 280px;
    object-fit: cover;
}

.CouponImg {
    width: 100%;
}

.Container .CardData {
    height: 430px;
}

.Price {
    color: grey;
    font-size: 18px;
}

.Category {
    color: grey;
    font-size: 22px;
}

.Card > button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.Container > button {
    margin: 0;
    top: 90%;
    left: 50%;
    margin-bottom: 3px;
}

.Card button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 650px) {
    .Column {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 650px) {
    .Column {
        width: 100%;
        display: block;
    }
}